Port 22
Protocol 2
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
AllowUsers opsecuser
LogLevel VERBOSE
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 0
